span {
  font-family: "Merienda One", cursive;
}
.green {
  color: $color-green;
}

.orange {
  color: $color-orange;
}

.nav-link {
  cursor: pointer;
}

.color-green {
  color: $color-green;
}
.color-red {
  color: $color-orange;
}
